@import 'variables.scss';
@import 'text.scss';

.form-horizontal {
  .control-label {
    text-align: left;
  }
}

.form-group {
  margin-bottom: 0;
  border-bottom: 2px solid $content-color;
}

.form-control {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  transition: background-color $fast;
  background-color: $background-color;
  
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $content-color;
    background-color: $highlight-color;
  }
  
  &[type='range'] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(white, 0);
    
    width: 100%;
    background: $background-color;
    
    &::-ms-tooltip {
      display: none;
    }
    
    &::-webkit-slider-thumb {
      $diameter: 20px;
      $ratio: 0.23;
      
      -webkit-appearance: none;
      position: relative;
      margin-top: $diameter * $ratio;
      width: $diameter;
      height: $diameter * $ratio * 2;
      background-color: $primary-color;
      
      &:before {
        content: '';
        position: absolute;
        top: -$diameter * $ratio;
        height: 0;
        width: 0;
        border-right: $diameter/2 solid transparent;
        border-bottom: $diameter * $ratio solid $primary-color;
        border-left: $diameter/2 solid transparent;
      }
      
      &:after {
        content: '';
        position: absolute;
        bottom: -$diameter * $ratio;
        height: 0;
        width: 0;
        border-right: $diameter/2 solid transparent;
        border-left: $diameter/2 solid transparent;
        border-top: $diameter * $ratio solid $primary-color;
      }
    }
  }
}