div.container
  div.row
    div.col-sm-7
      a(href='/#!/')
        img.img-responsive(src='img/sr5-logo.png', alt='Shadowrun 5 Logo')
    div.col-sm-5
      form.form-horizontal
        div.form-group
          label.col-sm-4.control-label(for='character') Charakter
          div.col-sm-8
            input.form-control#character(type='text', ng-model='$storage[id].info.character')
        div.form-group
          label.col-sm-4.control-label(for='player') Spieler
          div.col-sm-8
            input.form-control#player(type='text', ng-model='$storage[id].info.player')
        div.form-group
          label.col-sm-4.control-label(for='notes') Anmerkungen
          div.col-sm-8
            input.form-control#notes(type='text', ng-model='$storage[id].info.notes')
  div.row
    // ===== box personal data ================================================
    box.col-sm-6(title='Persönliche Daten')
      form.form-horizontal
        // ----- line name/primary alias---------------------------------------
        div.form-group
          label.col-sm-4.control-label(for='alias') Name/Strassenname
          div.col-sm-8
            input.form-control#alias(type='text', ng-model='$storage[id].personal_data.alias')
        // ----- line metatype--ethnicity -------------------------------------
        div.form-group
          label.col-sm-2.control-label(for='metatype') Metatyp
          div.col-sm-4
            input.form-control#metatype(type='text', ng-model='$storage[id].personal_data.metatype')
          label.col-sm-2.control-label(for='ethnicity') Ethnie
          div.col-sm-4
            input.form-control#ethnicity(type='text', ng-model='$storage[id].personal_data.ethnicity')
        // ----- line age--sex--height--weight --------------------------------
        div.form-group
          label.col-sm-1.control-label(for='age') Alter
          div.col-sm-2
            input.form-control#age(type='text', ng-model='$storage[id].personal_data.age')
          label.col-sm-2.control-label(for='sex') Geschlecht
          div.col-sm-1
            input.form-control#sex(type='text', ng-model='$storage[id].personal_data.sex')
          label.col-sm-2.control-label(for='height') Größe
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#height(type='text', ng-model='$storage[id].personal_data.height')
          label.col-sm-2.control-label(for='weight') Gewicht
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#weight(type='text', ng-model='$storage[id].personal_data.weight')
        // ----- line cred--notoriety--awareness ------------------------------
        div.form-group
          label.col-sm-2.control-label(for='street_cred') Straßenruf
          div.col-sm-1
            input.form-control#street_cred(type='text', ng-model='$storage[id].personal_data.street_cred')
          label.col-sm-3.control-label(for='notoriety') Schlechter Ruf
          div.col-sm-2
            input.form-control#notoriety(type='text', ng-model='$storage[id].personal_data.notoriety')
          label.col-sm-2.control-label(for='public_awareness') Prominenz
          div.col-sm-2
            input.form-control#public_awareness(type='text', ng-model='$storage[id].personal_data.public_awareness')
        // ----- line karma--total--misc --------------------------------------
        div.form-group
          label.col-sm-1.control-label(for='karma') Karma
          div.col-sm-2
            input.form-control#karma(type='text', ng-model='$storage[id].personal_data.karma')
          label.col-sm-3.control-label(for='total_karma') Gesamtkarma
          div.col-sm-2
            input.form-control#total_karma(type='text', ng-model='$storage[id].personal_data.total_karma')
          label.col-sm-2.control-label(for='misc') Sonstiges
          div.col-sm-2
            input.form-control#misc(type='text', ng-model='$storage[id].personal_data.misc')
    box.col-sm-6(title='Wichtige Kampfwerte') nichts