div.container

  // ##########################################################################
  div.row
    div.col-sm-7
      a(href='/#!/')
        img.img-responsive(src='img/sr5-logo.png', alt='Shadowrun 5 Logo')
        
    // ===== character overview ===============================================
    div.col-sm-5
      form.form-horizontal
        div.form-group
          label.col-sm-4.control-label(for='character') Charakter
          div.col-sm-8
            input.form-control#character(type='text', ng-model='$storage[id].info.character')
        div.form-group
          label.col-sm-4.control-label(for='player') Spieler
          div.col-sm-8
            input.form-control#player(type='text', ng-model='$storage[id].info.player')
        div.form-group
          label.col-sm-4.control-label(for='notes') Anmerkungen
          div.col-sm-8
            input.form-control#notes(type='text', ng-model='$storage[id].info.notes')
            
  // ##########################################################################
  div.row
  
    // ===== box personal data ================================================
    box.col-sm-6(title='Persönliche Daten')
      form.form-horizontal
      
        // ----- line name/primary alias---------------------------------------
        div.form-group
          label.col-sm-4.control-label(for='alias') Name/Strassenname
          div.col-sm-8
            input.form-control#alias(type='text', ng-model='$storage[id].personal_data.alias')
            
        // ----- line metatype--ethnicity -------------------------------------
        div.form-group
          label.col-sm-2.control-label(for='metatype') Metatyp
          div.col-sm-4
            input.form-control#metatype(type='text', ng-model='$storage[id].personal_data.metatype')
          label.col-sm-2.control-label(for='ethnicity') Ethnie
          div.col-sm-4
            input.form-control#ethnicity(type='text', ng-model='$storage[id].personal_data.ethnicity')
            
        // ----- line age--sex--height--weight --------------------------------
        div.form-group
          label.col-sm-1.control-label(for='age') Alter
          div.col-sm-2
            input.form-control#age(type='text', ng-model='$storage[id].personal_data.age')
          label.col-sm-2.control-label(for='sex') Geschlecht
          div.col-sm-1
            input.form-control#sex(type='text', ng-model='$storage[id].personal_data.sex')
          label.col-sm-2.control-label(for='height') Größe
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#height(type='text', ng-model='$storage[id].personal_data.height')
          label.col-sm-2.control-label(for='weight') Gewicht
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#weight(type='text', ng-model='$storage[id].personal_data.weight')
            
        // ----- line cred--notoriety--awareness ------------------------------
        div.form-group
          label.col-sm-2.control-label(for='street_cred') Straßenruf
          div.col-sm-1
            input.form-control#street_cred(type='number', ng-model='$storage[id].personal_data.street_cred')
          label.col-sm-3.control-label(for='notoriety') Schlechter Ruf
          div.col-sm-2
            input.form-control#notoriety(type='number', ng-model='$storage[id].personal_data.notoriety')
          label.col-sm-2.control-label(for='public_awareness') Prominenz
          div.col-sm-2
            input.form-control#public_awareness(type='number', ng-model='$storage[id].personal_data.public_awareness')
            
        // ----- line karma--total--misc --------------------------------------
        div.form-group
          label.col-sm-1.control-label(for='karma') Karma
          div.col-sm-2
            input.form-control#karma(type='number', ng-model='$storage[id].personal_data.karma')
          label.col-sm-3.control-label(for='total_karma') Gesamtkarma
          div.col-sm-2
            input.form-control#total_karma(type='number', ng-model='$storage[id].personal_data.total_karma')
          label.col-sm-2.control-label(for='misc') Sonstiges
          div.col-sm-2
            input.form-control#misc(type='text', ng-model='$storage[id].personal_data.misc')
            
    // ===== box core combat info =============================================
    box.col-sm-6(title='Wichtige Kampfwerte')
      form.form-horizontal
      
        // ----- line primary armor -------------------------------------------
        div.form-group
          label.col-sm-2.control-label(for='primary_armor') Rüstung
          div.col-sm-6
            input.form-control#primary_armor(type='text', ng-model='$storage[id].core_combat_info.primary_armor')
          div.col-sm-4
            input.form-control#rating(type='text', ng-model='$storage[id].core_combat_info.rating', placeholder='Panzerungswert')
            
        // ----- line primary ranged weapon -----------------------------------
        div.form-group
          label.col-sm-3.control-label(for='primary_ranged_weapon') Fernkampfwaffe
          div.col-sm-9
            input.form-control#primary_ranged_weapon(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.title')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.dam', placeholder='Schaden')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.acc', placeholder='Präzision')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.ap', placeholder='DK')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.mode', placeholder='Modus')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.rc', placeholder='RK')
          div.col-xs-4.col-sm-2
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_ranged_weapon.ammo', placeholder='Munition')
            
        // ----- line primary melee weapon ------------------------------------
        div.form-group
          label.col-sm-3.control-label(for='primary_melee_weapon') Nahkampfwaffe
          div.col-sm-9
            input.form-control#primary_melee_weapon(type='text', ng-model='$storage[id].core_combat_info.primary_melee_weapon')
          div.col-xs-6.col-sm-3
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_melee_weapon.reach', placeholder='Reichweite')
          div.col-xs-6.col-sm-3
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_melee_weapon.dam', placeholder='Schaden')
          div.col-xs-6.col-sm-3
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_melee_weapon.acc', placeholder='Präzision')
          div.col-xs-6.col-sm-3
            input.form-control(type='text', ng-model='$storage[id].core_combat_info.primary_melee_weapon.ap', placeholder='DK')
  
  // ##########################################################################
  div.row
  
    // ===== box attributes ===================================================
    box.col-sm-6(title='Attribute')
      form.form-horizontal
        
        // ----- line body--essence -------------------------------------------
        div.form-group
          label.col-sm-3.control-label.text-primary(for='body') Konstitution
          div.col-sm-3
            input.form-control#body(type='number', ng-model='$storage[id].attributes.body')
          label.col-sm-4.control-label(for='essence') Essenz
          div.col-sm-2
            input.form-control#essence(type='number', ng-model='$storage[id].attributes.essence')
        
        // ----- line agility--magic/resonance --------------------------------
        div.form-group
          label.col-sm-3.control-label.text-primary(for='agility') Geschicklichkeit
          div.col-sm-3
            input.form-control#agility(type='number', ng-model='$storage[id].attributes.agility')
          label.col-sm-4.control-label(for='magic') Magie/Resonanz
          div.col-sm-2
            input.form-control#magic(type='number', ng-model='$storage[id].attributes.magic')
        
        // ----- line reaction--initiative ------------------------------------
        div.form-group
          label.col-sm-3.control-label.text-primary(for='reaction') Reaktion
          div.col-sm-3
            input.form-control#reaction(type='number', ng-model='$storage[id].attributes.reaction')
          label.col-sm-4.control-label.text-primary(for='initiative') Initiative
          div.col-sm-2
            input.form-control#initiative(type='number', ng-model='$storage[id].attributes.initative')
            
        // ----- line strength--matrix initiative -----------------------------
        div.form-group
          label.col-sm-3.control-label.text-primary(for='strength') Stärke
          div.col-sm-3
            input.form-control#strength(type='number', ng-model='$storage[id].attributes.strength')
          label.col-sm-4.control-label.text-primary(for='matrix_initiative') Matrix-Initiative
          div.col-sm-2
            input.form-control#matrix_initiative(type='number', ng-model='$storage[id].attributes.matrix_initiative')
            
        // ----- line willpower--astral initiative ----------------------------
        div.form-group
          label.col-sm-3.control-label(for='willpower') Willenskraft
          div.col-sm-3
            input.form-control#willpower(type='number', ng-model='$storage[id].attributes.willpower')
          label.col-sm-4.control-label(for='astral_initiative') Astrale Initiative
          div.col-sm-2
            input.form-control#astral_initiative(type='number', ng-model='$storage[id].attributes.astral_initiative')
            
        // ----- line logic--composure ----------------------------------------
        div.form-group
          label.col-sm-3.control-label(for='logic') Logik
          div.col-sm-3
            input.form-control#logic(type='number', ng-model='$storage[id].attributes.logic')
          label.col-sm-4.control-label(for='composure') Selbstbeherrschung
          div.col-sm-2
            input.form-control#composure(type='number', ng-model='$storage[id].attributes.composure')
            
        // ----- line intuition--judge intentions -----------------------------
        div.form-group
          label.col-sm-3.control-label(for='intuition') Intuition
          div.col-sm-3
            input.form-control#intuition(type='number', ng-model='$storage[id].attributes.intuition')
          label.col-sm-4.control-label(for='judge_intentions') Menschenkenntnis
          div.col-sm-2
            input.form-control#judge_intentions(type='number', ng-model='$storage[id].attributes.judge_intentions')
        
        // ----- line charisma--memory ----------------------------------------
        div.form-group
          label.col-sm-3.control-label(for='charisma') Charisma
          div.col-sm-3
            input.form-control#charisma(type='number', ng-model='$storage[id].attributes.charisma')
          label.col-sm-4.control-label(for='memory') Erinnerungsvermögen
          div.col-sm-2
            input.form-control#memory(type='number', ng-model='$storage[id].attributes.memory')
        
        // ----- line edge--lift/carry ----------------------------------------
        div.form-group
          label.col-sm-3.control-label(for='edge') Edge
          div.col-sm-3
            input.form-control#edge(type='number', ng-model='$storage[id].attributes.edge')
          label.col-sm-4.control-label(for='lift_carry') Heben/Tragen
          div.col-sm-2
            input.form-control#lift_carry(type='number', ng-model='$storage[id].attributes.lift_carry')
            
        // ----- line edge points--movement -----------------------------------
        div.form-group
          label.col-sm-3.control-label(for='edge_points') Edgepunkte
          div.col-sm-3
            input.form-control#edge_points(type='range', min='0', max='8', value='0', ng-model='$storage[id].attributes.edge_points')
          label.col-sm-3.control-label(for='movement') Bewegung
          div.col-sm-3
            input.form-control#movement(type='number', ng-model='$storage[id].attributes.movement')
            
        // ----- line physical limit--mental limit--social limit --------------
        div.form-group
          label.col-sm-3.control-label(for='physical_limit', style='padding-right:0') Körperl. Limit:
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#physical_limit(type='number', ng-model='$storage[id].attributes.physical_limit')
          label.col-sm-3.control-label(for='mental_limit', style='padding-right:0') Geistiges Limit:
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#mental_limit(type='number', ng-model='$storage[id].attributes.mental_limit')
          label.col-sm-3.control-label(for='social_limit') Soziales Limit:
          div.col-sm-1(style='padding-left:0;padding-right:0')
            input.form-control#social_limit(type='number', ng-model='$storage[id].attributes.social_limit')